
<header>
        <h1 th:text="#{label.udc}">Your Website</h1>
        <nav>
			<select id="locales">
            <option value="" th:text="#{option.select}">--Select language--</option>
            <option value="?lang=en" th:text="#{option.english}">English</option>
             <option value="?lang=ua" th:text="#{option.ukrainian}">Ukrainian</option>
			</select>
			 <a th:href="@{/login}" th:text="#{label.login}">Link Text</a>
         <a th:href="@{/registration}" th:text="#{label.registration}">Link Text</a>
        </nav>
    </header>
    
