<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.userlist}">User List</title>
     <link rel="stylesheet" th:href="@{/css/style.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $(this).val();
                if (selectedOption != ''){
                    window.location.replace(selectedOption);
                }
            });
        });
    </script>
</head>
<body>
	<div th:insert="~{fragments/header_admin :: header}"></div>
	 <h2 th:text="#{label.updateUser}">Update User</h2>
    <form action="/admin/updateUser" method="post">
        <label for="username" th:text="#{label.username}">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        
        
        
        <label for="fullName" th:text="#{label.fullname}">Full Name:</label>
        <input type="text" id="fullName" name="fullName"><br><br>
        
        <label for="role" th:text="#{label.role}">Role:</label>
        <select id="role" name="role">
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
        </select><br><br>
        
        <input type="submit" th:value="#{input.update}" />
    </form>
    <h2 th:text="#{label.userlist}">User List</h2>
    <table border="1">
        <tr>
            <th th:text="#{label.username}">Username</th>
            <th th:text="#{label.role}">Role</th>
            <th th:text="#{label.fullname}">Full Name</th>
            <th th:text="#{label.username}">Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.fullName}"></td>
            <td>
                <form th:action="@{/admin/deleteUser}" method="post">
                    <input type="hidden" name="username" th:value="${user.username}">
                    <input type="submit" th:value="#{input.delete}">
                </form>
            </td>
        </tr>
    </table>

  <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>