@charset "ISO-8859-1";

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B0E0E6;
}

/* Style for select element */
select {
  padding: 8px 12px; /* Padding for better readability */
  font-size: 16px; /* Font size */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  appearance: none; /* Remove default appearance */
}

/* Style for when select element is hovered */
select:hover {
  border-color: #999; /* Change border color on hover */
}

/* Style for when select element is focused */
select:focus {
  outline: none; /* Remove focus outline */
  border-color: #66afe9; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Add a subtle box shadow */
}

/* Style for select element's options */
select option {
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
}

header {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 0; /* Padding at the top and bottom */
    text-align: right; /* Center align text */
}

header h1 {
    margin: 0; /* Remove default margin for h1 */
    text-align: left;
}

header nav a {
    color: #fff; /* White text color for navigation links */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Add spacing between links */
}

/* Footer styles */
footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 0; /* Padding at the top and bottom */
    text-align: center; /* Center align text */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: #E6E6FA;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

