@charset "ISO-8859-1";

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B0E0E6;
}

/* Style for select element */
select {
  padding: 8px 12px; /* Padding for better readability */
  font-size: 16px; /* Font size */
  border: 1px solid #ccc; /* Border */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
  appearance: none; /* Remove default appearance */
}

/* Style for when select element is hovered */
select:hover {
  border-color: #999; /* Change border color on hover */
}

/* Style for when select element is focused */
select:focus {
  outline: none; /* Remove focus outline */
  border-color: #66afe9; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Add a subtle box shadow */
}

/* Style for select element's options */
select option {
  background-color: #fff; /* Background color */
  color: #333; /* Text color */
}

header {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 10px 0; /* Padding at the top and bottom */
    text-align: right; /* Center align text */
}

header h1 {
    margin: 0; /* Remove default margin for h1 */
    text-align: left;
}

header nav a {
    color: #fff; /* White text color for navigation links */
    text-decoration: none; /* Remove underline from links */
    margin: 0 10px; /* Add spacing between links */
}

/* Footer styles */
footer {
 background-color: #333; /* Темний колір фону */
    color: #fff; /* Колір тексту - білий */
    padding: 10px 0; /* Відступи зверху і знизу */
    text-align: center; /* Вирівнювання тексту по центру */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
     position: fixed;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-form {
    background-color: #E6E6FA;
    padding: 20px;
    border-radius: 8px;
    width: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.resource-form {
    display: flex; /* Встановлюємо контейнеру режим відображення "flex" */
    flex-wrap: wrap; /* Дозволяємо елементам переноситися на новий ряд */
    justify-content: space-between; /* Рівномірно розподіляємо простір між елементами */
}

.resource-form form {
    flex: 0 1 calc(30% - 20px); /* Задаємо ширину кожної форми */
    margin-bottom: 20px; /* Відступ між формами */
    border: 1px solid #ccc; /* Границя */
    border-radius: 5px; /* Радіус кутів */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь */
    padding: 20px; /* Внутрішні відступи */
    box-sizing: border-box; /* Враховуємо границю та внутрішні відступи в ширину елемента */
}

.resource-form input[type="text"],
.resource-form input[type="date"],
.resource-form button[type="submit"] {
    width: calc(100% - 20px); /* Ширина полів вводу та кнопок */
    margin-bottom: 10px; /* Відступ між елементами */
    padding: 10px; /* Внутрішні відступи */
    border: 1px solid #ccc; /* Границя */
    border-radius: 5px; /* Радіус кутів */
    box-sizing: border-box; /* Враховуємо границю та внутрішні відступи в ширину елемента */
}

.resource-form button[type="submit"] {
    background-color: #007bff; /* Колір фону кнопки */
    color: #fff; /* Колір тексту кнопки */
    cursor: pointer; /* Змінюємо вигляд курсора при наведенні */
}

.resource-form button[type="submit"]:hover {
    background-color: #0056b3; /* Колір фону кнопки при наведенні */
}